:root {
  --background-color: #e2e2e2;
  --blck: #222222;
  --color-gris: #5c5c5c;
}
.margin-auto {
  margin: auto;
}
.op-20 {
  opacity: 20%;
}
.op-90 {
  opacity: 90%;
}
.op-80 {
  opacity: 80%;
}
.op-70 {
  opacity: 70%;
}
.op-60 {
  opacity: 60%;
}
.op-50 {
  opacity: 50%;
}

.a-i-flex-end {
  align-items: flex-end;
}

.plus-jakarta-sans-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.plus-jakarta-sans-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.plus-jakarta-sans-light {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.plus-jakarta-sans-medium-italic {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.plus-jakarta-sans-semi-bold-italic {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
.plus-jakarta-sans-semi-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: arlita;
  src: url(./font/arlita.otf) format("opentype");
}

.arlita {
  font-family: arlita;
}

.uppercase {
  text-transform: uppercase;
}

.pl-5 {
  padding-left: 5px;
}
.pl-16 {
  padding-left: 16px;
}

.pl-24 {
  padding-left: 24px;
}
.pl-32 {
  padding-left: 32px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-48 {
  padding-left: 48px;
}
.pr-24 {
  padding-right: 24px;
}

.ml-6 {
  margin-left: 6px;
}
.ml-8 {
  margin-left: 6px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-32 {
  margin-left: 32px;
}
.mr-32 {
  margin-right: 32px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-64 {
  margin-left: 64px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.ml-24 {
  margin-left: 24px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-56 {
  margin-right: 56px;
}

.sous-titre-design-process {
  line-height: 110%;
}

.mt-6 {
  margin-top: 6px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}
.mt-104 {
  margin-top: 104px;
}
.mt-112 {
  margin-top: 112px;
}
.mt-128 {
  margin-top: 128px;
}
.mt-136 {
  margin-top: 136px;
}
.mt-196 {
  margin-top: 196px;
}

.mt-48 {
  margin-top: 48px;
}
.mt-56 {
  margin-top: 56px;
}
.mt-64 {
  margin-top: 64px;
}
.mt-72 {
  margin-top: 72px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-88 {
  margin-top: 88px;
}
.mt-96 {
  margin-top: 96px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-56 {
  margin-bottom: 56px;
}
.mb-64 {
  margin-bottom: 64px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-8 {
  padding-top: 8px;
}
.pb-8 {
  padding-bottom: 8px;
}

.mb-80 {
  margin-bottom: 80px;
}
.pt-24 {
  padding-top: 24px;
}

.bk-background-color {
  background-color: var(--background-color);
}
.color-background-color {
  color: var(--background-color);
}

.tac {
  text-align: center;
}

.bk-noir {
  background-color: #170404;
}

.ft-96 {
  font-size: 96px;
}
.ft-80 {
  font-size: 80px;
}
.ft-72 {
  font-size: 72px;
}
.ft-64 {
  font-size: 64px;
}
.ft-56 {
  font-size: 56px;
}
.ft-32 {
  font-size: 32px;
}
.ft-14 {
  font-size: 14px;
}
.ft-12 {
  font-size: 12px;
}
.ft-10 {
  font-size: 10px;
}
.ft-40 {
  font-size: 40px;
}
.ft-44 {
  font-size: 44px;
}
.ft-32 {
  font-size: 32px;
}
.ft-24 {
  font-size: 24px;
}
.ft-36 {
  font-size: 36px;
}
.ft-18 {
  font-size: 18px;
}

.ft-48 {
  font-size: 48px;
}
.ft-88 {
  font-size: 88px;
}

.line-height-70 {
  line-height: 70%;
}
.line-height-80 {
  line-height: 80%;
}
.line-height-100 {
  line-height: 100%;
}
.line-height-120 {
  line-height: 120%;
}

.line-height-165 {
  line-height: 165%;
}
.line-height-180 {
  line-height: 180%;
}
.line-height-140 {
  line-height: 140%;
}

.a-i-flex-end {
  align-items: flex-end;
}

.letter-spacing--7 {
  letter-spacing: -7%;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.j-c-flex-end {
  justify-content: flex-end;
}

.center {
  align-items: center;
}

.vertical-center {
  justify-content: center;
}

.fit-content {
  width: fit-content;
}

.black-txt {
  color: #0e0e0e;
}
.background-color-txt {
  color: var(--background-color);
}
.txt-popup {
  color: #ededed;
}
.background-color-3-txt {
  color: var(--background-color-3);
}

.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-80 {
  gap: 80px;
}
.gap-72 {
  gap: 72px;
}
.gap-124 {
  gap: 124px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}
.gap-40 {
  gap: 32px;
}
.gap-56 {
  gap: 56px;
}

.radius-24 {
  border-radius: 24px;
}
.align-end {
  align-items: flex-end;
}

.j-c-flex-end {
  justify-content: flex-end;
}

.letter-space--2-4 {
  letter-spacing: -2.4px;
}
.letter-space--0-24 {
  letter-spacing: -0.24px;
}

.svg-fake-line {
  border-left: 1px solid #d9d9d9;
}

.flex {
  display: flex;
}

.hidden {
  overflow: hidden;
}

.vh-100 {
  height: 100vh;
}
.w-100 {
  width: 100%;
}
.w-88 {
  width: 188%;
}
.w-90 {
  width: 90%;
}
.w-96 {
  width: 96%;
}
.w-80 {
  width: 80%;
}
.w-72 {
  width: 72%;
}
.w-70 {
  width: 70%;
}
.w-64 {
  width: 64%;
}
.w-60 {
  width: 50%;
}

.w-16 {
  width: 16%;
}
.w-18 {
  width: 18%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}
.w-30 {
  width: 30%;
}
.w-24 {
  width: 24%;
}
.w-40 {
  width: 40%;
}

.w-88 {
  width: 88%;
}
.h-100 {
  height: 100%;
}

.h-80 {
  height: 80%;
}

.h-10 {
  height: 10%;
}

.vw-100 {
  width: 100vw;
}

.relative {
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.alegreya-medium-italic {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}
.alegreya-regular {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.alegreya-italic {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.block {
  display: block;
}

.h-24 {
  height: 24px;
}

.z-i-2 {
  z-index: 2;
}
.z-i--1 {
  z-index: 0;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

::-webkit-scrollbar {
  display: none;
}

.mt-intro {
  margin-top: 104px;
}
.mt-part {
  margin-top: 188px;
}
.mb-part {
  margin-bottom: 72px;
}

.height-project {
  height: 48px;
}
#skills {
  margin-top: 360px;
}
.projet {
  width: 100%;
  border: solid 1px #a9a9a9;
  border-radius: 8px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
  font-size: 32px;
  line-height: 110%;
  padding: 8px 8px 24px 16px;
  transition: 0.4s;
  height: 104px;
}

.projet .header {
  font-family: "Judson", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--color-gris);
  letter-spacing: 0px;
  margin-bottom: 96px;
  font-size: 18px;
}

.project-title {
  width: 88%;
}

.project-title span {
  display: block;
}
.sous-titre {
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -4px;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 80%;
  /* opacity: 0; */
}

.process {
  border-top: solid 1px #c6c6c6;
}

.process span {
  display: block;
}

/* .ml-1 {
  margin-left: 10%;
}

.gap-1 {
  gap: 10%;
}

.gap-2 {
  gap: 20%;
} */

.top {
  top: 0;
}

.left-1 {
  left: calc(var(--espace) * 1);
}
.left-2 {
  left: calc(var(--espace) * 2);
}
.left-3 {
  left: calc(var(--espace) * 3);
}
.left-4 {
  left: calc(var(--espace) * 4);
}
.left-5 {
  left: calc(var(--espace) * 5);
}
.left-6 {
  left: calc(var(--espace) * 6);
}
.left-7 {
  left: calc(var(--espace) * 7);
}
.left-8 {
  left: calc(var(--espace) * 8);
}
.left-9 {
  left: calc(var(--espace) * 9);
}
.left-10 {
  left: calc(var(--espace) * 10);
}

.size-1 {
  width: calc(var(--espace) * 1);
}
.size-1-5 {
  width: calc(var(--espace) * 1.5);
}

.size-2 {
  width: calc(var(--espace) * 2);
}
.size-3 {
  width: calc(var(--espace) * 3);
}

video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
/* video::-webkit-media-controls-play-button {
}

video::-webkit-media-controls-volume-slider {
}

video::-webkit-media-controls-mute-button {
}

video::-webkit-media-controls-timeline {
}

video::-webkit-media-controls-current-time-display {
} */

.line {
  border-top: solid 1px #dbdbdb;
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.details {
  width: 240px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  position: absolute;
}

.top-left {
  top: 24px;
  text-align: right;
  left: -108px;
  position: absolute;
  font-size: 10px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100px;
}

.top-right {
  text-align: left;
  top: 24px;
  right: -108px;
  position: absolute;
  font-size: 10px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100px;
}

.bottom-right {
  text-align: right;
  bottom: 24px;
  right: -108px;
  position: absolute;
  font-size: 10px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100px;
}

.bottom-left {
  text-align: right;
  left: -108px;
  bottom: 24px;

  position: absolute;
  font-size: 10px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100px;
}

/* #other-drawin:hover {
  content: url("./img/museeartquimper.png");
} */
/* #croquis:hover {
  content: url("./img/distribution.png");
} */

#meContacter {
  margin: auto;
  margin-top: 104px;
  width: 559px;
  /* border: solid var(--background-color) 1px; */
  text-align: center;
  font-size: 32px;
  padding: 40px 0px;
  margin-bottom: 240px;
  color: var(--blck);
}

.pt-56 {
  padding-top: 56px;
}

#nav-black-part {
  padding: 6px 24px;
  letter-spacing: 1px;
  background-color: #1d0101;
}

#nav {
  padding: 2px 2px;
  width: 96%;
  border-radius: 24px;
}
/* 
.vertical-align-middle {
  vertical-align: middle;
} */
/* 
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
} */
.left {
  left: 0;
}
.a {
  color: #0e0e0e !important ;
}

.arrow:hover rect {
  fill: #efefef;
}
.arrow:hover path {
  stroke: #1f1f1f;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
}

#arrow-left path {
  stroke: #1f1f1f;
}

.mb-32 {
  margin-bottom: 32px;
}

.croix {
  cursor: pointer;
}

#fermer {
  opacity: 0.75;
}
#fermer:hover {
  opacity: 1;
}

.projet:hover {
  border: 1px black solid;
}

.projet {
  cursor: pointer;
}

nav a {
  color: var(--background-color0);
  opacity: 1;
  transition: 0.2s;
}

nav a:hover {
  color: var(--background-color0);
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.marquee svg,
.marquee-reverse svg {
  stroke: #0b0000 !important;
}

@media only screen and (max-width: 600px) {
  .noir-fond {
    width: 100%;
  }
  .croix-width {
    width: 95%;
  }

  .projets {
    width: 100%;
  }

  #crm-original {
    height: 200px;
  }

  .mobile-flex-ml-0 {
    flex-direction: column;
    margin-left: 0;
  }

  .mobile-flex-col {
    flex-direction: column;
    width: 95%;
    margin-bottom: 72px;
  }

  .mobile-outils {
    margin-bottom: 24px;
    margin-top: 8px;
  }

  .croix {
    stroke-width: 2.4px;
    position: relative;
  }

  .title-project {
    width: 98%;
    line-height: 100%;
    margin-bottom: 48px;
  }

  .mobile-outils {
    left: 0;
  }

  #nav {
    width: 95%;
    margin: auto;

    height: 32px;
  }
  #nav-black-part {
    width: 88%;
    position: absolute;
    left: 6%;
    top: 40px;
    gap: 16px;
  }
  #jade {
    left: 0;
    padding-left: 8px;
  }

  #menu {
    display: block;
    position: absolute;
    right: 6%;
    stroke-width: 1.6px;
  }

  #nav-wrapper {
    display: none;
  }

  #titre #title-size {
    font-size: 104px;
    letter-spacing: -8px;
  }

  #titre {
    flex-direction: column;
    padding: 0;
    left: 8px;
  }

  #greating-display {
    left: 8px;
    top: 0px;
  }

  #first-marquee {
    margin-top: 80px;
  }

  #introduction {
    font-size: 24px;
    width: 90%;
    margin: auto;
    margin-top: 104px;
  }

  #introduction-wrapper {
    padding: 0;
    /* padding-left: 16px; */
    width: 100%;
  }

  #introduction #ident {
    margin-left: 16px;
  }

  #intro-2 {
    width: 90%;
    margin: auto;
    margin-top: 104px;
  }

  #photo-paragraph {
    font-size: 20px;
  }

  #photoshoot {
    /* width: 100%; */
    flex-direction: column;
  }

  #photoshoot img {
    width: 100% !important;
    height: auto !important;
    /* flex-direction: column; */
  }

  .sous-titre {
    font-size: 56px;
    letter-spacing: -4.8px;
  }

  #projet-content {
    padding: 0;
    width: 88%;
    margin: auto;
  }

  #projet-wrapper {
    width: 107%;
    margin: auto;
  }

  .projet {
    width: 100%;
    height: fit-content;
  }

  .last-one {
    width: 90%;
    margin: auto;
    font-size: 24px;
  }

  #petit-mot {
    width: 100%;
  }

  .two-hands-on-me {
    padding-left: 24px;
  }

  /* .p5Canvas:first {
    display: none;
  } */
  .p5Canvas:first {
    display: none;
  }

  .p5Canvas {
    position: relative;
    margin: auto;
    margin: 0;
    width: 100% !important;
    height: auto !important;
  }

  #meContacter {
    width: 95%;
    font-size: 20px;
  }

  #a-tres-bientot {
    margin-top: 120px;
  }

  .presentation-desktop {
    display: none;
  }

  .presentation-mobile {
    display: block;
    width: 83%;
    margin: auto;
  }

  #p1 {
    margin-top: 780px;
    left: calc(var(--espace) * 1);
  }

  #p2 {
    margin-top: 708px;
    left: calc(var(--espace) * 1);
  }
  #p3 {
    margin-top: 826px;
    left: calc(var(--espace) * 1);
  }
  #p4 {
    margin-top: 922px;
    left: calc(var(--espace) * 1);
  }

  #dessin-rose {
    left: calc(var(--espace) * 1);
    width: calc(var(--espace) * 7);
    margin-top: 24px;
  }

  #hand-drawing {
    margin-top: 288px;
    left: calc(var(--espace) * 6);
    width: calc(var(--espace) * 2);
  }

  #wireframe {
    margin-top: 112px;
    left: calc(var(--espace) * 8.5);
    width: calc(var(--espace) * 2.5);
  }
  #carnet {
    margin-top: 144px;
    left: calc(var(--espace) * 1);
    width: calc(var(--espace) * 4);
  }

  #cycle-de-marche {
    margin-top: 272px;
    left: calc(var(--espace) * 3);
    width: calc(var(--espace) * 8);
  }
  #canard {
    margin-top: 104px;
    left: calc(var(--espace) * 2);
    width: calc(var(--espace) * 2);
  }
  #croquis {
    margin-top: 312px;
    left: calc(var(--espace) * 7);
    width: calc(var(--espace) * 2);
  }
  #three-pos {
    margin-top: 576px;
    left: calc(var(--espace) * 2);
    width: calc(var(--espace) * 10);
  }

  .line {
    display: none;
  }

  .experience {
    height: 208px !important;
    overflow: hidden;
  }

  .experience-canvas {
    position: relative;
    top: -860px;
    left: -32px;
  }

  #scrollto-projets {
    margin-top: 400px;
  }

  #num {
    font-size: 10px;
    margin-top: 8px;
  }
}

.experience-canvas {
  width: 100% !important;
  height: auto !important;
}

.ft-20 {
  font-size: 20px;
}

.body-red {
  background-color: red;
}
