* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*taille*/
}

.experience {
  position: relative;
  width: 100%;
  height: 100px; /*relie au parent .experience*/
}

.experience-canvas {
  width: 100%;
  height: 100px; /*relie au parent .experience*/
}

.experience-canvas canvas {
  width: 100%;
  height: 100px; /*relie au parent .experience*/
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e2e2e2;
  /* background-color: black; */

  /* --blck: red; */
  --blck: #222222;
  --color-gris: #5c5c5c;
  /* --color-gris: red; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --espace: 8.32%;
  /* --espace-interieur: 10%; */
}

/* espacements ajustables */
.nav-bottom {
  margin-bottom: 64px;
}

.plr-interieur {
  padding-left: var(--espace);
  padding-right: var(--espace);
}

.pl-interieur {
  padding-left: var(--espace);
}

.plr-interieur-2 {
  padding-left: calc(var(--espace) * 2);
  padding-right: calc(var(--espace) * 2);
}
.pr-interieur {
  padding-right: var(--espace);
}

/* .txt-line {
  width: 20%; INUTILE
} */

.carousel-height {
  height: 224px;
}

.carousel-height img {
  width: auto;
}

#title-size {
  font-size: 196px;
  letter-spacing: -16px;
  color: #490505;
}

#greating-display span {
  display: block;
  line-height: 120%;
}

.marquee {
  position: relative;
  color: #0b0000;
}

.block {
  display: block;
}

.none {
  display: none;
}

#introduction span {
  display: block;
}

#introduction {
  /* margin-top: 100px; */
}

.color-gris {
  color: var(--color-gris);
}
.color-black {
  color: var(--blck);
}

.marquee {
  animation: move_marquee 32s linear infinite;
}

.carousel {
  animation: move_marquee_left_to_right 64s linear infinite;
}

.marquee_doublon {
  animation: move_marquee_doublon 120s linear infinite;
}

.marquee-reverse {
  animation: 32s linear infinite move_marquee_left_to_right;
}

@keyframes move_marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes move_marquee_left_to_right {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

@keyframes move_marquee_doublon {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}
@keyframes deplacement {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.deplacement {
  left: 100%;
}

.golos-text-medium {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.golos-text-bold {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.golos-text-italic {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.golos-text-regular {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.b612-mono-regular {
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.b612-mono-bold {
  font-family: "B612 Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.b612-mono-regular-italic {
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.b612-mono-bold-italic {
  font-family: "B612 Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/* 
font-style : italic possible
Weight: 400 – 900
*/

.judson-regular {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
}

.judson-bold {
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.photo {
  transition: opacity 0.6s;
}
.croquis {
  transition: opacity 0.6s;
}

/* #photo:hover {
  content: url("./img/moi-couleur.png");
} */
.judson-regular-italic {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: italic;
}

.inline-block {
  display: inline-block;
}

a {
  font-weight: 500;
  color: #171717;
  text-decoration: inherit;
  display: inline;
}
a:hover {
  color: #070707;
}
.stroke {
  border: solid 1px var(--blck);
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  color: #110000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-section img {
  /* position: absolute; */
  transform-origin: center;
}
.card-section img {
  /* position: absolute; */
  transform-origin: center;
}

#skills span {
  display: block;
}

#italic {
  display: inline-block;
  -webkit-transform: skewX(-12deg);
  -moz-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  -o-transform: skewX(-12deg);
  transform: skewX(-12deg);
}
.img-card {
  z-index: 10000;
  filter: saturate(0);
  transition: filter 0.6s;
}

/* .img-card:hover {
  filter: saturate(1);
} */

.h-0 {
  height: 0px;
}

.t-24 {
  top: 24px;
}

.t-32 {
  top: 32px;
}

.t-40 {
  top: 40px;
}

.t-48 {
  top: 48px;
}
.t-64 {
  top: 64px;
}

#project {
  z-index: 20;
}

.h-80 {
  height: 80%;
}

.border-radius-popup {
  border-radius: 8px;
}

.flash-info span {
  display: block;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 170%;
}

#defaultCanvas0 {
  margin: auto;
}

#fin {
  /* background-color: #222222; */
  display: flex;
  position: relative;
  padding-bottom: 120px;
  margin-top: 200px;
}

.z-index-5 {
  z-index: 5;
}

.display {
  display: block;
}

.display-none {
  /* display: none; */
}

#projet-1,
#projet-2,
#projet-3,
#projet-0 {
  opacity: 0;
  display: none;
}

#bottom-work {
  color: var(--blck);
  position: absolute;
  bottom: 111px;
}

#bottom-work line {
  stroke: var(--blck);
}

#carousel-marquee {
  animation: deplacement 126s linear infinite;
}

.saturate {
  filter: saturate(1);

  /* transition time ajustée dans la classe img-card */
}

#menu {
  display: none;
}

#hide-menu {
  width: 16px;
  height: auto;
  position: relative;
  top: 1px;
  left: 0;
}

#greating-display {
  top: 104px;
  left: 24px;
}

#introduction #ident {
  margin-left: 180px;
}
#introduction {
  width: 88%;
}

#last-one {
  width: 64%;
}

#a-tres-bientot {
  margin-top: 72px;
}
.presentation-mobile {
  display: none;
  padding: 0;
}

#p1 {
  margin-top: 640px;
  left: calc(var(--espace) * 2);
}

#p2 {
  margin-top: 488px;
  left: calc(var(--espace) * 2);
}
#p3 {
  margin-top: 660px;
  left: calc(var(--espace) * 7);
}
#p4 {
  margin-top: 440px;
  left: calc(var(--espace) * 8);
}

#dessin-rose {
  left: calc(var(--espace) * 2);
  width: calc(var(--espace) * 2);
}

#hand-drawing {
  left: calc(var(--espace) * 5);
  width: calc(var(--espace) * 1);
}

#wireframe {
  left: calc(var(--espace) * 5);
  width: calc(var(--espace) * 1.5);
}
#carnet {
  left: calc(var(--espace) * 8);
  width: calc(var(--espace) * 2);
}

#cycle-de-marche {
  left: calc(var(--espace) * 2);
  width: calc(var(--espace) * 2);
}
#canard {
  left: calc(var(--espace) * 2);
  width: calc(var(--espace) * 2);
}
#croquis {
  left: calc(var(--espace) * 5);
  width: calc(var(--espace) * 2);
}
#three-pos {
  margin-top: 0px;
  left: calc(var(--espace) * 8);
  width: calc(var(--espace) * 2);
}

#photo-paragraph {
  max-width: 320px;
  line-height: 115%;
}

#num {
  margin-left: 8px;
}

#petit-mot {
  width: 88%;
  margin: auto;
}

.noir-fond {
  width: 80%;
}

.title-project {
  width: 35%;
  line-height: 120%;
  letter-spacing: -0.8px;
  margin-bottom: 8px;
}

#crm-original {
  height: 640px;
}

.mobile-flex-col {
  flex-direction: column;
  width: 65%;
}
