:root {
  --background-color: #e2e2e2;
  --blck: #222222;
  --color-gris: #5c5c5c;
}
.margin-auto {
  margin: auto;
}

.a-i-flex-end {
  align-items: flex-end;
}

@font-face {
  font-family: arlita;
  src: url(./font/arlita.otf) format("opentype");
}

.uppercase {
  text-transform: uppercase;
}
.pl-16 {
  padding-left: 16px;
}

.pl-24 {
  padding-left: 24px;
}
.pl-32 {
  padding-left: 32px;
}
.pl-48 {
  padding-left: 48px;
}
.pr-24 {
  padding-right: 24px;
}
.ml-8 {
  margin-left: 6px;
}
.ml-32 {
  margin-left: 32px;
}
.mr-32 {
  margin-right: 32px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.ml-24 {
  margin-left: 24px;
}

.sous-titre-design-process {
  line-height: 105%;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}

.mt-40 {
  margin-top: 40px;
}
.mt-104 {
  margin-top: 104px;
}
.mt-128 {
  margin-top: 128px;
}

.mt-48 {
  margin-top: 48px;
}
.mt-64 {
  margin-top: 64px;
}
.mt-72 {
  margin-top: 72px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-88 {
  margin-top: 88px;
}
.mt-96 {
  margin-top: 96px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.pt-8 {
  padding-top: 8px;
}
.pb-8 {
  padding-bottom: 8px;
}

.bk-background-color {
  background-color: var(--background-color);
}
.color-background-color {
  color: var(--background-color);
}

.tac {
  text-align: center;
}

.bk-noir {
  background-color: #170404;
}
.ft-32 {
  font-size: 32px;
}
.ft-14 {
  font-size: 14px;
}
.ft-12 {
  font-size: 12px;
}
.ft-40 {
  font-size: 40px;
}
.ft-32 {
  font-size: 32px;
}
.ft-24 {
  font-size: 24px;
}
.ft-18 {
  font-size: 18px;
}

.ft-48 {
  font-size: 48px;
}

.a-i-flex-end {
  align-items: flex-end;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.j-c-flex-end {
  justify-content: flex-end;
}

.center {
  align-items: center;
}

.vertical-center {
  justify-content: center;
}
.txt-popup {
  color: #ededed;
}

.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}

.radius-24 {
  border-radius: 24px;
}

.j-c-flex-end {
  justify-content: flex-end;
}

.svg-fake-line {
  border-left: 1px solid #d9d9d9;
}

.flex {
  display: flex;
}

.hidden {
  overflow: hidden;
}

.vh-100 {
  height: 100vh;
}
.w-100 {
  width: 100%;
}
.w-88 {
  width: 188%;
}
.w-96 {
  width: 96%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-64 {
  width: 64%;
}

.w-16 {
  width: 16%;
}
.w-18 {
  width: 18%;
}
.w-20 {
  width: 20%;
}
.w-24 {
  width: 24%;
}

.w-88 {
  width: 88%;
}
.h-100 {
  height: 100%;
}

.vw-100 {
  width: 100vw;
}

.relative {
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.block {
  display: block;
}

.z-i-2 {
  z-index: 2;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

::-webkit-scrollbar {
  display: none;
}
.mt-part {
  margin-top: 188px;
}
.mb-part {
  margin-bottom: 72px;
}

.height-project {
  height: 48px;
}
#skills {
  margin-top: 360px;
}
.projet {
  width: 100%;
  border: solid 1px #616161;
  border-radius: 8px;
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
  font-size: 32px;
  line-height: 110%;
  padding: 8px 8px 24px 16px;
  transition: 0.4s;
  height: 104px;
}

.projet .header {
  font-family: "Judson", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--color-gris);
  letter-spacing: 0px;
  margin-bottom: 96px;
  font-size: 18px;
}

.project-title {
  width: 88%;
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
}

.project-title span {
  display: block;
}
.sous-titre {
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -4px;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 80%;
  /* opacity: 0; */
}

.process {
  border-top: solid 1px #c6c6c6;
}

.process span {
  display: block;
}

/* .ml-1 {
  margin-left: 10%;
}

.gap-1 {
  gap: 10%;
}

.gap-2 {
  gap: 20%;
} */

.top {
  top: 0;
}

video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
/* video::-webkit-media-controls-play-button {
}

video::-webkit-media-controls-volume-slider {
}

video::-webkit-media-controls-mute-button {
}

video::-webkit-media-controls-timeline {
}

video::-webkit-media-controls-current-time-display {
} */

.line {
  border-top: solid 1px #dbdbdb;
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.details {
  width: 320px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  position: absolute;
}

.top-left {
  top: 24px;
  text-align: right;
  left: -108px;
  position: absolute;
  font-size: 10px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100px;
}

.top-right {
  text-align: left;
  top: 24px;
  right: -108px;
  position: absolute;
  font-size: 10px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100px;
}

.bottom-right {
  text-align: left;
  bottom: 24px;
  right: -108px;
  position: absolute;
  font-size: 10px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100px;
}

.bottom-left {
  text-align: right;
  left: -108px;
  bottom: 24px;

  position: absolute;
  font-size: 10px;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100px;
}

/* #other-drawin:hover {
  content: url("./img/museeartquimper.png");
} */
/* #croquis:hover {
  content: url("./img/distribution.png");
} */

#meContacter {
  margin: auto;
  margin-top: 40px;
  width: 559px;
  /* border: solid var(--background-color) 1px; */
  text-align: center;
  font-size: 32px;
  padding: 40px 0px;
  margin-bottom: 380px;
  color: var(--blck);
}

#nav-black-part {
  padding: 6px 24px;
  letter-spacing: 1px;
  background-color: #1d0101;
}

#nav {
  padding: 2px 2px;
  width: 96%;
  border-radius: 24px;
}
/* 
.vertical-align-middle {
  vertical-align: middle;
} */
/* 
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
} */
.left {
  left: 0;
}
.a {
  color: #0e0e0e !important ;
}

.mb-32 {
  margin-bottom: 32px;
}

.croix {
  cursor: pointer;
}

#fermer {
  opacity: 0.75;
}
#fermer:hover {
  opacity: 1;
}

.project-wrap {
  padding: 1px;
  background: var(--background-color);
  transition: 0.3s;
  border-radius: 8px;
}

.project-wrap:hover {
  background: linear-gradient(
    120deg,
    rgb(119, 201, 142),
    rgba(219, 187, 44, 0.74),
    rgba(99, 98, 190, 0.95),
    rgb(186, 81, 81)
  );
}

.mr-32 {
  margin-right: 32px;
}

.projet {
  cursor: pointer;
  background: var(--background-color);
}

nav a {
  color: var(--background-color0);
  opacity: 1;
  transition: 0.2s;
}

nav a:hover {
  color: var(--background-color0);
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.marquee svg,
.marquee-reverse svg {
  stroke: #0b0000 !important;
}

#introduction #ident {
  margin-left: 180px;
}
#introduction {
  width: 88%;
}

#last-one {
  width: 64%;
}

#a-tres-bientot {
  margin-top: 72px;
}
.presentation-mobile {
  display: none;
  padding: 0;
}

#p1 {
  margin-top: 584px;
  left: calc(var(--espace) * 1);
}

#p2 {
  margin-top: 440px;
  left: calc(var(--espace) * 1);
}
#p3 {
  margin-top: 440px;
  left: calc(var(--espace) * 4);
  max-width: 184px;
}
#p4 {
  margin-top: 328px;
  left: calc(var(--espace) * 4);
  max-width: 184px;
}

#dessin-rose {
  left: calc(var(--espace) * 1);
  width: calc(var(--espace) * 2);
}

#hand-drawing-wrapper {
  margin-top: 268px;
}
#hand-drawing {
  left: calc(var(--espace) * 4);
  width: calc(var(--espace) * 1);
}

#agence_travail {
  margin-top: 496px;
  left: calc(var(--espace) * 9);
  width: calc(var(--espace) * 2);
}
#carnet {
  left: calc(var(--espace) * 9);
  width: calc(var(--espace) * 2);
}
#creetintel {
  margin-top: 80px;
  left: calc(var(--espace) * 6);
  width: calc(var(--espace) * 2);
}

#cycle-de-marche {
  margin-top: 96px;
  left: calc(var(--espace) * 2);
  width: calc(var(--espace) * 1);
}
#canard {
  margin-top: 80px;
  left: calc(var(--espace) * 1);
  width: calc(var(--espace) * 2);
}

#poire {
  left: calc(var(--espace) * 6);
  width: calc(var(--espace) * 2);
  margin-top: 64px;
}

#croquis {
  margin-top: 80px;
  left: calc(var(--espace) * 4);
  width: calc(var(--espace) * 1);
}
#three-pos {
  margin-top: 144px;
  left: calc(var(--espace) * 9);
  width: calc(var(--espace) * 2);
}

#photo-paragraph {
  max-width: 320px;
  line-height: 115%;
}

#num {
  margin-left: 16px;
  margin-top: 8px;
  font-size: 10px;
}

#petit-mot {
  width: 88%;
  margin: auto;
  margin-top: 192px;
  margin-bottom: 24px;
}

.project-wrap:hover .triangle {
  fill: black;
}

#petit-mot div {
  font-size: 36px;
}

.title-project {
  width: 40%;
  line-height: 115%;
  letter-spacing: -0.8px;
  margin-bottom: 8px;
  color: #170404;
}

.marquee {
  animation: move_marquee 32s linear infinite;
}

.carousel {
  animation: move_marquee_left_to_right 64s linear infinite;
}

.marquee-reverse {
  animation: 32s linear infinite move_marquee_left_to_right;
}

#menu {
  display: none;
}

#partie-01 {
  height: 696px;
}
#partie-02 {
  height: 616px;
}

#crm-original {
  height: 824px;
}

#design-process {
  letter-spacing: -1.6px;
  margin-bottom: 88px;
}

#fin {
  /* background-color: #222222; */
  display: flex;
  position: relative;
  padding-bottom: 120px;
  margin-top: 400px;
  height: 720px;
}

.merci {
  color: #222222;
  margin-right: 80px;
  margin-top: 48px;
  font-weight: 700;
}

.merci:hover {
  text-decoration: underline;
}

.attenuate {
  color: #171717;
  line-height: 180%;
  letter-spacing: 0.25px;
  width: 96%;
  margin-left: 40px;
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.border-radius-popup {
  border-radius: 24px;
}

#mail_clipboard_icon {
  transition: 0.3s;
}

#mail_copie {
  opacity: 0;
}

.height-first {
  width: 100%;
  height: auto;
}

#paroisse_img {
  height: 640px;
}

#prille_img {
  height: 896px;
}

#info-dog {
  width: 84.5%;
  margin: auto;
}

#projet-wrapper {
  padding-bottom: 32px;
  margin-bottom: 40px;

  margin-top: 32px;
  padding-top: 32px;
}

@media only screen and (min-width: 1600px) {
  #partie-01 {
    height: 960px;
  }

  #partie-02 {
    height: 840px;
  }

  #fin {
    height: 940px;
  }
  #agence_travail {
    margin-top: 660px;
  }
  #p1 {
    margin-top: 744px;
    left: calc(var(--espace) * 1);
  }

  #p2 {
    margin-top: 560px;
    left: calc(var(--espace) * 1);
  }
}

@media only screen and (max-width: 1000px) {
  #paroisse_img {
    height: 400px;
  }

  #prille_img {
    height: 480px;
  }

  #crm-original {
    height: 400px;
  }

  .title-project {
    width: 80%;
    margin-left: 24px;
  }

  .projet {
    width: 100%;
    height: fit-content;
  }

  #info-dog {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #fin {
    /* background-color: #222222; */
    height: 800px;
  }

  .display-none-mobile {
    display: none;
  }
  #scrollto-projets .sous-titre {
    letter-spacing: -3px;
    font-size: 92px;
  }
  #design-process {
    letter-spacing: -3px;
    font-size: 72px;
  }

  #paroisse_img {
    height: 200px;
  }

  #prille_img {
    height: 280px;
  }

  /* .height-first {
    height: 100%;
    width: auto;
  } */
  .croix-width {
    width: 95%;
  }

  .croix-width svg {
    width: 20px !important;
    margin-right: 8px;
    top: -8px;
    position: relative;
  }

  .projets {
    width: 100%;
  }

  #crm-original {
    height: 200px;
  }

  .mobile-flex-ml-0 {
    flex-direction: column;
    margin-left: 0;
  }

  .croix {
    stroke-width: 2.4px;
    position: relative;
    text-decoration: underline;
  }

  .title-project {
    width: 100%;
    line-height: 110%;
    margin-bottom: 48px;
    font-size: 40px;
  }

  #nav {
    width: 95%;
    margin: auto;

    height: 32px;
  }
  #nav-black-part {
    width: 88%;
    position: absolute;
    left: 6%;
    top: 40px;
    gap: 16px;
    font-size: 12px;
  }
  #jade {
    left: 0;
    padding-left: 8px;
  }

  #menu {
    display: block;
    position: absolute;
    right: 6%;
    stroke-width: 1.6px;
  }

  .attenuate {
    color: #171717;
    line-height: 180%;
    letter-spacing: 0.25px;
    width: 96%;
    margin: auto;
    margin-top: 24px;
  }

  .fond-projet-full-mobile {
    width: 100%;
  }

  #partie-01 {
    height: 920px;
  }

  #partie-02 {
    height: 1000px;
  }

  .border-radius-popup {
    border-radius: 8px;
  }

  .merci {
    margin-top: 72px;
    margin-right: 16px;
  }

  #nav-wrapper {
    display: none;
  }

  #titre #title-size {
    font-size: 82px;
    letter-spacing: -4px;
    font-weight: 800;
  }

  #titre {
    flex-direction: column;
    padding: 0;
    left: 8px;
  }

  #greating-display span {
    left: 8px;
    top: -40px;
  }

  #first-marquee {
    margin-top: 44%;
  }

  #introduction {
    font-size: 24px;
    width: 90%;
    margin: auto;
    margin-top: 104px;
  }

  #introduction-wrapper {
    padding: 0;
    /* padding-left: 16px; */
    width: 100%;
  }

  #introduction #ident {
    margin-left: 16px;
  }

  #intro-2 {
    width: 90%;
    margin: auto;
    margin-top: 104px;
  }

  #photo-paragraph {
    font-size: 20px;
  }

  #photoshoot {
    /* width: 100%; */
    flex-direction: column;
  }

  #photoshoot img {
    width: 100% !important;
    height: auto !important;
    /* flex-direction: column; */
  }

  .sous-titre {
    font-size: 56px;
    letter-spacing: -4.8px;
  }

  #projet-content {
    padding: 0;
    width: 88%;
    margin: auto;
  }

  #projet-wrapper {
    width: 107%;
    margin: auto;
  }

  .last-one {
    width: 90%;
    margin: auto;
    font-size: 24px;
  }

  #petit-mot {
    width: 100%;
  }

  #petit-mot div {
    font-size: 24px;
  }

  .two-hands-on-me {
    padding-left: 24px;
  }

  /* .p5Canvas:first {
    display: none;
  } */

  #meContacter {
    width: 95%;
    font-size: 20px;
    margin-bottom: 0px;
  }

  #fin {
    height: 900px;
    padding-top: 200px;
    margin-top: 200px;
  }

  #a-tres-bientot {
    margin-top: 40px;
  }

  .presentation-desktop {
    display: none;
  }

  .presentation-mobile {
    display: block;
    width: 83%;
    margin: auto;
  }

  #p1 {
    margin-top: 860px;
    left: calc(var(--espace) * 1);
  }

  #p2 {
    margin-top: 752px;
    left: calc(var(--espace) * 1);
  }
  #p3 {
    margin-top: 1048px;
    left: calc(var(--espace) * 1);
  }
  #p4 {
    margin-top: 1200px;
    left: calc(var(--espace) * 5);
  }

  #dessin-rose {
    left: calc(var(--espace) * 1);
    width: calc(var(--espace) * 7);
    margin-top: 24px;
  }

  #hand-drawing {
    margin-top: 124px;
    left: calc(var(--espace) * 5);
    width: calc(var(--espace) * 4);
  }
  #carnet {
    margin-top: 144px;
    left: calc(var(--espace) * 7);
    width: calc(var(--espace) * 4);
  }

  #creetintel {
    margin-top: 300px;
    left: calc(var(--espace) * 2);
    width: calc(var(--espace) * 4);
  }

  #cycle-de-marche {
    margin-top: 272px;
    left: calc(var(--espace) * 4);
    width: calc(var(--espace) * 7);
    z-index: -1;
  }

  #poire {
    left: calc(var(--espace) * 5);
    width: calc(var(--espace) * 4);
    margin-top: 480px;
  }

  #canard {
    margin-top: 260px;
    left: calc(var(--espace) * 2);
    width: calc(var(--espace) * 4);
    z-index: 24;
  }
  #croquis {
    margin-top: 620px;
    left: calc(var(--espace) * 3);
    width: calc(var(--espace) * 3);
    z-index: 24;
  }
  #three-pos {
    margin-top: 780px;
    left: calc(var(--espace) * 2);
    width: calc(var(--espace) * 10);
  }

  #agence_travail {
    margin-top: 560px;
    left: calc(var(--espace) * 3);
    width: calc(var(--espace) * 6);
  }

  .line {
    display: none;
  }

  .experience {
    height: 208px !important;
    overflow: hidden;
  }

  .experience-canvas {
    position: relative;
    top: -860px;
    left: -32px;
  }

  #scrollto-projets {
    margin-top: 400px;
  }

  #num {
    font-size: 10px;
    margin-top: 8px;
    margin-left: 8px;
  }

  .marquee {
    animation: move_marquee 64s linear infinite;
  }

  .carousel {
    animation: move_marquee_left_to_right 128s linear infinite;
  }

  .marquee-reverse {
    animation: 64s linear infinite move_marquee_left_to_right;
  }

  .title-project {
    width: 100%;
    padding-left: 16px;
  }
}

.experience-canvas {
  width: 100% !important;
  height: auto !important;
}

.ft-20 {
  font-size: 20px;
}
/* 
.body-red {
  background-color: red;
} */
