* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /*taille*/
}

.experience {
  position: relative;
  width: 100%;
  height: 100px; /*relie au parent .experience*/
}

.experience-canvas {
  width: 100%;
  height: 100px; /*relie au parent .experience*/
}

.experience-canvas canvas {
  width: 100%;
  height: 100px; /*relie au parent .experience*/
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e2e2e2;
  /* background-color: black; */

  /* --blck: red; */
  --blck: #222222;
  --color-gris: #5c5c5c;
  /* --color-gris: red; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --espace: 8.32%;
  /* --espace-interieur: 10%; */
}

/* espacements ajustables */
.nav-bottom {
  margin-bottom: 64px;
}

.plr-interieur {
  padding-left: var(--espace);
  padding-right: var(--espace);
}

.pl-interieur {
  padding-left: var(--espace);
}

.plr-interieur-2 {
  padding-left: calc(var(--espace) * 2);
  padding-right: calc(var(--espace) * 2);
}
.pr-interieur {
  padding-right: var(--espace);
}

/* .txt-line {
  width: 20%; INUTILE
} */

.carousel-height {
  height: 224px;
}

.carousel-height img {
  width: auto;
}

#title-size {
  font-size: 196px;
  letter-spacing: -8px;
  color: #490505;
}

#greating-display span {
  display: block;
  line-height: 120%;
}
#greating-display span {
  left: -8px;
  top: 20px;
  position: relative;
}

#tooki {
  margin-top: 48px;
}

.marquee {
  position: relative;
  color: #0b0000;
}

.block {
  display: block;
}

.none {
  display: none;
}

#introduction span {
  display: block;
}

#introduction {
  /* margin-top: 100px; */
}

.color-gris {
  color: var(--color-gris);
}

@-webkit-keyframes move_marquee {
  0% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
}

@keyframes move_marquee {
  0% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
}

@-webkit-keyframes move_marquee_left_to_right {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@keyframes move_marquee_left_to_right {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

/* @keyframes move_marquee {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

@keyframes move_marquee_left_to_right {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
} */

@-webkit-keyframes move_marquee_doublon {
  0% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
}

@keyframes move_marquee_doublon {
  0% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
}
@-webkit-keyframes deplacement {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
@keyframes deplacement {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

.golos-text-medium {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.golos-text-bold {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.golos-text-regular {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.b612-mono-regular {
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* 
font-style : italic possible
Weight: 400 – 900
*/

.judson-regular {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
}

.judson-bold {
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.opacity-0 {
  opacity: 0;
}

.photo {
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.croquis {
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* #photo:hover {
  content: url("./img/moi-couleur.png");
} */

.inline-block {
  display: inline-block;
}

a {
  font-weight: 500;
  color: #171717;
  text-decoration: inherit;
  display: inline;
}
a:hover {
  color: #070707;
}
.stroke {
  border: solid 1px var(--blck);
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  color: #110000;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-section img {
  /* position: absolute; */
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.card-section img {
  /* position: absolute; */
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

#skills span {
  display: block;
}

#italic {
  display: inline-block;
  -webkit-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  transform: skewX(-12deg);
}
.img-card {
  z-index: 10000;
  -webkit-filter: saturate(0);
  filter: saturate(0);
  -webkit-transition: -webkit-filter 0.6s;
  transition: -webkit-filter 0.6s;
  -o-transition: filter 0.6s;
  transition: filter 0.6s;
  transition: filter 0.6s, -webkit-filter 0.6s;
}

/* .img-card:hover {
  filter: saturate(1);
} */

.h-0 {
  height: 0px;
}

.font-bold {
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #0d0d0d;
}

.flash-info span {
  display: block;
  font-family: "B612 Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 170%;

  color: #161616;
}

.z-index-5 {
  z-index: 5;
}

.display {
  display: block;
}

.display-none {
  /* display: none; */
}

#projet-1,
#projet-2,
#projet-3,
#projet-0 {
  opacity: 0;
  display: none;
}

#bottom-work {
  color: var(--blck);
  position: absolute;
  bottom: 111px;
}

#bottom-work line {
  stroke: var(--blck);
}

#hide-menu {
  width: 16px;
  height: auto;
  position: relative;
  top: 1px;
  left: 0;
}

#greating-display {
  top: 104px;
  left: 24px;
}
